@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

@font-face {
    font-family: 'RoxboroughCF';
    src: url(/res/Roxborough\ CF.ttf);
}

* {
    -webkit-tap-highlight-color: none;
}

body {
    width: 80%;
    margin: auto;
    background-image: url(/res/Simple\ Shiny.svg);
    background-repeat: no-repeat;
    user-select: none;
}

#main {
    height: 95vh;
}

#auth {
    position: absolute;
    top: 4.2rem;
    left: 2.6rem;
    font-size: 12px;
    color: #2d2d2d;
    font-family: 'Mukta', sans-serif;
}

.devs {
    font-family: 'Mukta', sans-serif;
    /* position: absolute;
    bottom: -2rem;
    left: 2rem; */
    text-align: center;
}

#logo__name {
    font-family: 'RoxboroughCF';
    color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 54px;
    text-align: center;
    margin-top: 8rem;
    font-weight: 300;
    margin-bottom: 20px;
    color: rgb(100, 100, 100);
}

h1 span {
    font-weight: 400;
}

#able {
    color: #004AAD;
}

img {
    width: 200px;
    /* margin: rem; */
}

p {
    font-family: 'Inter', sans-serif;
    color: #0e0b3d;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 18px;
    text-align: center;
    margin-top: 0;
}

#log-in__btn,
#sign-in__btn {
    border: none;
    padding: 10px 20px;
    color: #004AAD;
    font-weight: 300;
    transition: all 0.5s ease-in-out;
    border: 1px solid transparent;
    border-radius: 20px;
}

#log-in__btn {
    background-color: rgba(255, 255, 255, 0.216);

}

#sign-in__btn:hover {
    border: 1px solid #004bad6d;
}

#log-in__btn:hover {
    background-color: #004bad89;
    color: white;
}

#cta__btn {
    padding: 10px 30px;
    text-align: center;
    margin: auto;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    background-color: #004AAD;
    border-radius: 30px;
    z-index: 999;
    font-family: 'Roxborough';
    letter-spacing: 1px;
}

#cta__btn a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#cta__btn:hover {
    border: 1px solid darkgray;
    background-color: #004bada9;
}

main {
    display: flex;
    flex-direction: column;
}

.how {
    height: 100vh;
}

@media screen and (max-width:500px) {
    body {
        background-image: url(/res/Simple\ Shiny-mobo.svg);
    }

    #logo-img {
        width: 120px;
    }

    #log-in__btn,
    #sign-in__btn {
        display: none;
    }

    #main {
        height: 90vh;
    }

    h1 {
        margin-top: 35%;
        font-size: 34px;
    }

    p {
        font-size: 12px;
    }

    #cta__btn {
        /* margin-top: 30px; */
        font-size: 12px;
    }
}